alias ..='cd ..'
alias srcs='. ~/.bashrc'

alias a='echo á'
alias kristjan='echo Kristj$(a)n'
alias e='echo é'
alias petursson='echo P$(e)tursson'

alias la='ls -a'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'

alias histogram='sort | uniq -c'

alias tmux='tmux -2'

alias crontab='VIM_CRONTAB=true crontab'

alias aliases='vim ~/.aliases; srcs'
alias options='vim ~/.bashrc; srcs'
alias profile='vim ~/.bash_profile; srcs'
alias :e='vim'
alias b='bundle exec'
alias d='dotenv'

alias g='git'
if [ -f `which hub` ]; then
  alias h=`which hub`
fi
alias gst='git st'
alias gull='git pull'
alias gush='git push'
alias gulsh='gull && gush'
alias giff='git diff'
alias giffc='git diff --cached'
alias gom='git commit'
alias gomend='gom --amend'
alias gad='git add'
alias gap='git add --patch'
alias goot='cd $(git rev-parse --show-toplevel)'

alias cdgem='cd `ruby -e "puts Gem.path" | head -1`/gems'

alias rmlog='for file in log/*; do cat /dev/null > $file; done'
alias running='ps aux | grep $1'

alias lstmp='find . -name '*.sw[op]''
alias rmtmp='echo Deleting $(lstmp | wc -l ) files && lstmp && lstmp -exec rm "{}" \;'

# Typos
alias mc='mv'
alias vim='nvim'
alias vi='vim'
