alias ..='cd ..'
alias srcs='. ~/.bashrc'

alias bobble='ssh $BOBBLE_HOST'

alias a='echo á'
alias kristjan='echo Kristj$(a)n'
alias e='echo é'
alias petursson='echo P$(e)tursson'

alias la='ls -a'
alias dir='ls -l'
alias dira='ls -la'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'

alias aliases='vim ~/.aliases; srcs'
alias options='vim ~/.bashrc; srcs'
alias profile='vim ~/.bash_profile; srcs'
alias notes='vim ~/notes'
alias :e='vim'
alias b='bundle exec'

alias synergys='killall synergys; synergys -f --config ~/.synergyrc --daemon'
alias synergyc='killall synergyc; /usr/bin/synergyc kristjan.corp.causes.com'

alias mig='b rake db:migrate && b rake db:test:prepare'
alias vimig='vim db/migrate/$(ls -clrt db/migrate/ | tail -1 | cut -d " " -f 9)'

alias g='git'
if [ -f `which hub` ]; then
  alias h=`which hub`
fi
alias gst='git status'
alias gull='git pull'
alias gush='git push'
alias gulsh='gull && gush'
alias gultch='gull && make test && gush'
alias giff='git diff'
alias giffc='git diff --cached'
alias gom='git commit'
alias gomend='gom --amend'
alias gad='git add'
alias gap='git add --patch'
alias goot='cd $(git rev-parse --show-toplevel)'

alias and='ant debug && adb install -r `ls bin/*-debug.apk`'
alias sc='screen'
alias scx='screen -xR'
alias sql='mysql -uroot'

alias cdgem='cd /usr/local/lib/ruby/gems/1.8/gems'

alias rmlog='for file in log/*; do cat /dev/null > $file; done'
alias running='ps aux | grep $1'

alias bobo='ssh caketown.causes.com -p 5600'
alias util='ssh dev@util1'
alias sshh='ssh dev@util1 -t "ssh $1"'
alias sshhr='ssh root@util1 -t "ssh $1"'

alias r='. cd_to_repo $1'

alias resmem='sudo /sbin/service memcached restart'

alias listmp='find . | ack "(~|\.sw[op])$"'
alias cleantmp='echo Deleting $(listmp | wc -l ) files && rm $(listmp)'
alias cleandbg='cat /dev/null > log/debug.log'
alias debug='tail -f log/debug.log'
alias log='tail -f log/development.log'

# Typos
alias mc='mv'
alias vi='vim'
