function bobblecp() {
  echo scp "$BOBBLE_HOST:$1" "$2"
  scp "$BOBBLE_HOST:$1" "$2"
}

function emoji() {
  convert $1 -crop 600x600 -gravity north -resize 128x128 small.$1
}

function loadenv() {
  env=${1:-.env}
  echo Loading $env
  file=`mktemp -t tmp`
  if [ -f $env ]; then
    cat $env | while read line; do
      echo export $line >> $file
    done
    source $file
  else
    echo No file $env
  fi
}

function urlencode() {
  perl -MURI::Escape -e "print uri_escape('$1');"
}
