function bobblecp() {
  echo scp "$BOBBLE_HOST:$1" "$2"
  scp "$BOBBLE_HOST:$1" "$2"
}

function loadenv() {
  env=${1:-.env}
  echo Loading $env
  file=`mktemp -t tmp`
  if [ -f $env ]; then
    cat $env | while read line; do
      echo export $line >> $file
    done
    source $file
  else
    echo No file $env
  fi
}
}
