[user]
  name = Kristján Pétursson
  email = kristjan@gmail.com
[github]
  user = kristjan
  token = $GITHUB_TOKEN

[alias]
  bubble = !sh -c 'git checkout master && git pull && git checkout $1 && git rebase master && git checkout master && git merge --no-ff $1' -
  br = branch
  changes = !sh -c 'git diff --stat $1 | tail -1' -
  cm = checkout master
  co = checkout
  conflicts = !vim $(git status | fgrep modified | cut -d: -f2)
  cur = name-rev --name-only HEAD
  form = !git fetch origin && git rebase origin/master
  fix  = commit -m "Fixup"
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  last = log -1
  remaster = rebase origin/master
  st = status
  sub = !cd $(git rev-parse --show-toplevel) && git submodule update --init | fgrep -v registered
  v = rev-parse HEAD

[apply]
  whitespace = fix

[color]
  ui = auto
[color "branch"]
  current = green reverse
  local = green
  remote = cyan
[color "diff"]
  commit = magenta bold
  frag = cyan
  meta = bold
  new = green bold
  old = red bold
  whitespace = yellow reverse
[color "interactive"]
  prompt = green bold
  header = cyan
  help = yellow
  error = red bold
[color "status"]
  changed = yellow

[core]
  excludesfile = ~/.gitignore
  editor = vim

[help]
  autocorrect = 5

[merge]
  log = 100

[push]
  default = simple

[rerere]
  enabled = 1

[branch "master"]
	rebase = true

[credential]
	helper = osxkeychain
