[user]
  name = Kristján Pétursson
  email = kristjan@gmail.com
[github]
  user = kristjan
  token = $GITHUB_TOKEN

[alias]
  br = branch
  cm = checkout main
  co = checkout
  cur = name-rev --name-only HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status -sb

[apply]
  whitespace = fix

[branch]
	autosetuprebase = remote
  sort = -committerdate

[branch "master"]
	rebase = true

[color]
  ui = auto
[color "branch"]
  current = green reverse
  local = green
  remote = cyan
[color "diff"]
  commit = magenta bold
  frag = cyan
  meta = bold
  new = green bold
  old = red bold
  whitespace = yellow reverse
[color "interactive"]
  error = red bold
  header = cyan
  help = yellow
  prompt = green bold
[color "status"]
  changed = yellow

[core]
  editor = vim
  excludesfile = ~/.gitignore
  fsmonitor = true
  untrackedCache = true

[credential]
	helper = osxkeychain

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  tool = icdiff

[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[feature]
  experimental = true

[fetch]
  all = true
  pruneTags = true

[grep]
  patternType = perl

[help]
  autocorrect = 5

[init]
  defaultBranch = main

[merge]
  conflictstyle = zdiff3
  log = 100

[push]
  autoSetupRemote = true
  default = simple
  followTags = true

[rebase]
	autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  autoupdate = true
  enabled = true

[tag]
  sort = version:refname
