[user]
  name = Kristján Pétursson
  email = kristjan@causes.com
[github]
  user = kristjan

[alias]
  bubble = !sh -c 'git checkout master && git pull && git checkout $1 && git rebase master && git checkout master && git merge --no-ff $1' -
  br = branch
  changes = !sh -c 'git diff --stat $1 | tail -1' -
  cm = checkout master
  co = checkout
  cur = name-rev --name-only HEAD
  fester = !git fetch && git reset --hard origin/master
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  last = log -1
  remaster = rebase origin/master
  st = status
  sub = submodule update --init
  v = rev-parse HEAD

[apply]
  whitespace = fix

[color]
  ui = auto
[color "branch"]
  current = green reverse
  local = green
  remote = cyan
[color "diff"]
  commit = magenta bold
  frag = cyan
  meta = bold
  new = green bold
  old = red bold
  whitespace = yellow reverse
[color "interactive"]
  prompt = green bold
  header = cyan
  help = yellow
  error = red bold
[color "status"]
  changed = yellow

[core]
  excludesfile = /home/kristjan/.gitignore

[help]
  autocorrect = 10

[merge]
  summary = true

[push]
	default = upstream
[rerere]
	enabled = 1
