[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/scrimmage"]
	path = .vim/bundle/scrimmage
	url = https://github.com/kristjan/scrimmage.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-irblack"]
	path = .vim/bundle/vim-irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/jquery"]
	path = .vim/bundle/jquery
	url = https://github.com/vim-scripts/jQuery.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/scss-syntax.vim"]
	path = .vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule ".vim/bundle/vim-jst"]
	path = .vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-human-dates"]
	path = .vim/bundle/vim-human-dates
	url = https://github.com/kristjan/vim-human-dates.git
[submodule ".vim/bundle/vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-blockle"]
	path = .vim/bundle/vim-blockle
	url = https://github.com/jgdavey/vim-blockle.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule ".vim/bundle/vim-windowswap"]
	path = .vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
